* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

#main-line {
  width: 100%;
}

#blog-title {
    margin: 10px;

    font-family: "Michroma";
    font-weight: 100;
    color: #404040;
}

#blog-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 50px;
}

.article {
  width: 65vw;
  height: 45vh;
  margin: 2vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.blog-card {
  width: 100%;
  height: 100%;
  margin: 1vw;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-shadow: -5px 5px 10px rgba(40, 40, 40, 0.3);

  color: #404040;
}

.blog-card:hover {
  box-shadow: -10px 10px 30px rgba(40, 40, 40, 0.3);
}

.blog-illu {
  width: 50%;
  height: 100%;
  border-radius: 20px;
}

.preview-wrap {
  width: 50%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #404040;
}

.preview-title {
  width: 80%;
  height: 25%;
  display: flex;
  align-items: center;

  font-family: "Michroma";
  font-size: 17px;
}

.preview-content {
  width: 80%;
  height: 50%;
  display: flex;

  font-family: "Inter";
  font-size: 12px;
}

.preview-button {
  width: 40%;
  height: 15%;
  margin-bottom: 15px;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #404040;
  font-family: "Michroma";
  font-size: 12px;
  color: white;
  text-decoration: none;
}

.preview-button:hover {
  background-color: #727272;
}


/* Mobile edition -------------------- */
@media only screen and (width > 700px) and (width <= 900px) {
  .article {
    width: 70vw;
    height: 30vh;
  }

  .preview-title {
    font-size: 14px;
  }

  .preview-content {
    font-size: 8px;
  }

  .preview-button {
    font-size: 12px;
  }
}

/* Smartphone */
@media only screen and (width > 430px) and (width <= 700px) {
  .article {
    width: 90vw;
    height: 35vh;
  }

  .preview-title {
    font-size: 12px;
  }

  .preview-content {
    font-size: 9px;
  }

  .preview-button {
    font-size: 9px;
  }
}

@media only screen and (width <= 430px) {
  .article {
    width: 90vw;
    height: 20vh;
  }

  .preview-title {
    font-size: 8px;
  }

  .preview-content {
    font-size: 5.7px;
  }

  .preview-button {
    border-radius: 7px;
    font-size: 6px;
  }
}

@media only screen and (width <= 270px) {
  .preview-content {
    font-size: 5.4px;
  }

  .preview-button {
    border-radius: 7px;
    font-size: 5.7px;
  }
}